<section id="caracteristicas">
  <div class="slider-container row space-around">
    <div class="slider-content">
      <div class="car-box" id="slide1">
        <div class="row slide">
          <img src="assets/iconos/009-camion-de-reparto.png" alt="Reparto" />
          <div>
            <h4>Envio gratis</h4>
            <p>Con su compra mayor a $25.000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-content">
      <div class="car-box" id="slide2">
        <div class="row slide">
          <img
            src="assets/iconos/014-agente-de-servicio-al-cliente.png"
            alt="Atención al cliente"
          />
          <div>
            <h4>Atención al cliente</h4>
            <p>Para resolver sus inquietudes rápidamente.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-content">
      <div class="car-box" id="slide3">
        <div class="row slide">
          <img src="assets/iconos/002-calidad.png" alt="Calidad" />
          <div>
            <h4>Calidad</h4>
            <p>Calidad excepcional y durabilidad garantizada.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-btn" id="prevBtn">❮</div>
  <div class="scroll-btn" id="nextBtn">❯</div>
</section>
