footer {
  background-color: var(--carbon);
  color: var(--blanco);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

p {
  font-size: 14px;
  font-weight: 300;
}

a {
  font-size: 14px;
  font-weight: 300;
}

.socialMediIcons {
  justify-content: space-between;
}

.tituloFooter {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.social-media,
.contact-info,
.customer-service,
.copyright {
  margin-bottom: 20px;
}

.social-media a img {
  width: 2em;
  height: 2em;
}

.socialMediaIcon {
  filter: brightness(0) invert(1);
}
