footer {
  background-color: var(--carbon);
  color: var(--blanco);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

p {
  font-size: 14px;
  font-weight: 300;
}

a {
  font-size: 14px;
  font-weight: 300;
}

.tituloFooter {
  font-size: 18px;
  font-weight: 500;
}

.social-media,
.contact-info,
.customer-service,
.copyright {
  margin-bottom: 20px;
}

.social-media a img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
}
