<header>
  <div class="column">
    <div class="first-sec-head row center-align" id="headerContent">
      <div>
        <img
          src="assets/iconos/019-buscar.png"
          alt="Lupa"
          class="iconoNav"
          id="Lupa"
        />
      </div>
      <div>
        <h1><a routerLink="/">Forfeit</a></h1>
      </div>
      <div>
        <img
          src="assets/iconos/029-cesta-de-la-compra.png"
          alt="Carrito"
          class="iconoNav"
        />
      </div>
    </div>
    <div class="second-sec-head center-align">
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/productos" class="nav-link">Productos</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Nueva colección</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Contacto</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </div>
</header>
