<section id="Bento">
  <div class="wrapper">
    <div class="grid1 zoom-container">
      <img src="/assets/fotos/MujerStreetwear.webp" alt="" class="zoom-img" />

      <div class="content">
        <span>JAP</span>
        <h3>COLLECTION</h3>
        <div class="comprarbtn hiddenbtn">
          <a routerLink="/productos">COMPRAR</a>
        </div>
      </div>
    </div>
    <div class="grid2 zoom-container">
      <img src="/assets/fotos/HombreStreetwear.webp" alt="" class="zoom-img" />
      <div class="content">
        <span>FOR MEN</span>
        <h3>T-SHIRT</h3>
        <div class="comprarbtn hiddenbtn">
          <a routerLink="/productos">COMPRAR</a>
        </div>
      </div>
    </div>
    <div class="grid3 zoom-container">
      <img src="/assets/fotos/RopaY.webp" alt="" class="zoom-img" />
      <div class="content">
        <span>STREET</span>
        <h3>WEAR</h3>
        <div class="comprarbtn">
          <a routerLink="/productos">COMPRAR</a>
        </div>
      </div>
    </div>
    <div class="grid4 zoom-container">
      <img src="/assets/fotos/RopaX.webp" alt="" class="zoom-img" />
      <div class="content">
        <span>CROPPED</span>
        <h3>CLOTHES</h3>
        <div class="comprarbtn hiddenbtn">
          <a routerLink="/productos">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
</section>
