<footer>
  <div class="social-media">
    <p class="tituloFooter">¡Conéctate con Forfeit!</p>
    <div class="row">
      <a href="#" target="_blank"
        ><img src="assets/iconos/tiktok.png" alt="TikTok"
      /></a>
      <a href="https://www.instagram.com/forfeitclothes/" target="_blank"
        ><img src="assets/iconos/instagram.png" alt="Instagram"
      /></a>
      <a href="#" target="_blank"
        ><img src="assets/iconos/x.png" alt="Twitter"
      /></a>
    </div>
  </div>

  <div class="contact-info column">
    <p class="tituloFooter">Información de Contacto</p>
    <p>Teléfono:</p>
    <p>Correo electrónico: forfeitclothesgmail.com</p>
  </div>

  <div class="customer-service column">
    <p class="tituloFooter">Servicio al Cliente</p>
    <a href="#">Política de devoluciones</a>
    <a href="#">Preguntas frecuentes</a>
    <a href="#">Términos y condiciones</a>
  </div>

  <div class="copyright">
    <p>Forfeit© 2024</p>
  </div>
</footer>
