<div class="producto row">
  <div class="seccionIzquierda row">
    <div id="galeria" class="column">
      @for (itemImg of producto?.imageUrl; track producto?.id) {
      <img [src]="itemImg" />
      }
    </div>
    <div id="producto">
      <img [src]="currentImg" [alt]="producto?.nombre" />
    </div>
  </div>
  <div class="seccionDerecha">
    <div>
      <h2>{{ producto?.nombre }}</h2>
      <h3>
        <a href="#">{{ producto?.categoria }}</a>
      </h3>
    </div>
    <div>
      <p>{{ producto?.descripcion }}</p>
    </div>
    <div>
      <form>
        <label for="tallas"> Talle:</label>
        <select id="tallas" name="tallas">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
      </form>
    </div>
    <div>
      <p>${{ producto?.precio }}</p>
      <button>Comprar Ahora</button>
      <button>Agregar al carrito</button>
    </div>
  </div>
</div>
